body {
  background: linear-gradient(to right, #74ebd5, #9face6);
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-box {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 300px;
  position: relative; /* Tambahkan ini agar posisi panah relatif ke login-box */
}

.back-image-button {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;
}

.back-image-button img {
  width: 20px;
  height: auto;
  cursor: pointer;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4ee1b6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #30b897;
}


